<%= form_for(@videoconference) do |f| %>
  <% if @videoconference.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@videoconference.errors.count, "error") %> prohibited this videoconference from being saved:</h2>

      <ul>
      <% @videoconference.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :saver %><br />
    <%= f.number_field :saver %>
  </div>
  <div class="field">
    <%= f.label :savee %><br />
    <%= f.number_field :savee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
