<h3>Report an Incident</h3>
<div class="container-fluid">
    <div class="row-fluid">
        <div id="current">Initializing...</div>
        <div id="map_canvas" style="width:274px; height:300px"></div>
        <%= form_for(@incident_report) do |f| %>
          <%# render 'shared/error_messages', object: f.object %>

          <%= f.label :description %>
          <%= f.text_area :description, :size => "30x3", :class => "input-xlarge" %>

          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>
          <%# f.label "" %>
          <%= f.submit "Submit", :class => "btn btn btn-success" %>
        <% end %>
    </div>
</div>
